Name: Gia Bach Nguyen


Final_new_phase1.csv cleaning

Row 21-55

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

df = pd.read_csv('Final_new_phase1.csv')

df.head()

,Unnamed: 0,1,2,2_text,3,4,5,6,7,7_address,...,62.1,62.2,62.3,63.1,63.2,63.3,63_text,64,65,66
0,0,County Jail,Detained,NaN,2020-09-30,awaiting trial for probation violation,38,26,2127.0,and,...,no,no,yes,NaN,NaN,out-of-school,fighting girls and being mean,"St. Margarets elementary and middle, Monsignor...","No, I was a straight A student until my dad di...",With more drug programs for us to sign up for ...
1,1,County Jail,Sentenced,2 9 months run concurrent,2020-07-21,Both are possession of Class A + B,22,18,3064.0,Nashua NH,...,no,no,yes,NaN,"in-school, out-of-school","in-school, out-of-school","talking back, skipping, food fight, smoking, w...",Amherst NH elementary (forget the name) 2 elem...,I was a phenomenal student that had so much po...,Thank you guys very much for doing this. I thi...
2,2,County Jail,Detained,NaN,2020-05-02,"4th OUI, OUI bodily injury",33,23 1/2,2130.0,Jamaica Plain MA,...,no,no,no,NaN,NaN,NaN,N/A (Good luck with school),"Lafayette Elementary School, Everett, MA; Marg...","I never went to high school, I got my GED",Thank you. Happy Holidays.
3,3,State Prison,Detained,NaN,2020-07-21,"Domestic, reckless endangerment, intimidation ...",34,34,2188.0,NaN,...,no,no,no,NaN,NaN,"in-school, out-of-school","I skipped class a bunch of times, I beat up an...","William Seach School, Abigail Adams School, We...",NaN,NaN
4,4,County Jail,Sentenced,2 years,2019-11-15,indecent A&B,28,27,2150.0,NaN,...,no,no,yes,NaN,NaN,out-of-school,skipping school,"Chelsea Public School K-12, and Youthbuild jus...",Youthbuild was the best thing that ever happen...,"Invest in Youhtbuild Programs, they change lives"

Clean from row 21-55

In [12]:
#df['13'].mode() = 0 so I use 0
df['13'] = df['13'].fillna(0)
df['13_explanation'] = df['13_explanation'].fillna("Not Answered")
df['14'] = df['14'].fillna("Not Answered")
df['15'] = df['15'].fillna("Not Answered")
df['16'] = df['16'].fillna("Not Answered")
#df['17'].mode() = 0 so I use 0
df['17'] = df['17'].fillna(0)
df['17_explanation'] = df['17_explanation'].fillna("Not Answered")
df['18'] = df['18'].fillna("nan")
df['19'] = df['19'].fillna("nan")
df['20'] = df['18'].fillna("Not Answered")
df['20_text'] = df['20_text'].fillna("Not Answered")
df['21'] = df['21'].fillna("nan")
df['21_text'] = df['21_text'].fillna("Not Answered")
df['22'] = df['22'].fillna("nan")
df['22.1'] = df['22.1'].fillna("nan")
df['22_text'] = df['22_text'].fillna("Not Answered")
df['23'] = df['23'].fillna("nan")
df['24'] = df['24'].fillna("nan")
df['25'] = df['25'].fillna("nan")
df['26'] = df['26'].fillna("nan")
df['27'] = df['27'].fillna("nan")
df['28'] = df['28'].fillna("nan")
df['29'] = df['29'].fillna("nan")
df['29.1.1'] = df['29.1.1'].fillna("Not Answered")
df['29.1.2'] = df['29.1.2'].fillna("Not Answered")
df['29.1.3'] = df['29.1.3'].fillna("Not Answered")
df['29.1.4'] = df['29.1.4'].fillna("Not Answered")
df['29.1.5'] = df['29.1.5'].fillna("Not Answered")
df['29.1.6'] = df['29.1.6'].fillna("Not Answered")
df['29.1.7'] = df['29.1.7'].fillna("Not Answered")
df['29.1.7_text'] = df['29.1.7_text'].fillna("Not Answered")
df['30'] = df['30'].fillna("nan")
df['30_text'] = df['30_text'].fillna("nan")
df['31'] = df['31'].fillna("nan")
df['31.1'] = df['31.1'].fillna("nan")

In [13]:
print(df.iloc[:,21:55].isnull().sum())
#sum of nan value in each column.

13                0
13_explanation    0
14                0
15                0
16                0
17                0
17_explanation    0
18                0
19                0
20                0
20_text           0
21                0
21_text           0
22                0
22.1              0
22_text           0
23                0
24                0
25                0
26                0
27                0
28                0
29                0
29.1.1            0
29.1.2            0
29.1.3            0
29.1.4            0
29.1.5            0
29.1.6            0
29.1.7            0
29.1.7_text       0
30                0
30_text           0
31                0
dtype: int64

Column name rechange

In [4]:
## columns rename
## change name from 21-31
df = df.rename(columns={'13':'Served in Military Y/N'})
df = df.rename(columns={'13_explanation':'Military Explanation'})
df = df.rename(columns={'14':'Childhood Things Done for Fun'})
df = df.rename(columns={'15':'Childhood Things Good At'})
df = df.rename(columns={'16':'Trusted Adults Y/N & #'})
df = df.rename(columns={'17':'Personal Gang Involvement'})
df = df.rename(columns={'17_explanation':'Gang Explanation'})
df = df.rename(columns={'18':'Wrongly Accused of Gang Involvement Y/N'})
df = df.rename(columns={'19':'Friends/Family Gang Involvement Y/N'})
df = df.rename(columns={'20':'Trusted Adults (list)'})
df = df.rename(columns={'20_text':'Trusted Adults (other)'})

## change name (lowercase, more specific) from 21-31
df = df.rename(columns={'Served in Military Y/N':'military_y/n'})
df = df.rename(columns={'Military Explanation':'military_explanation'})
df = df.rename(columns={'Childhood Things Done for Fun':'childhood_fun'})
df = df.rename(columns={'Childhood Things Good At':'childhood_goodat'})
df = df.rename(columns={'Trusted Adults Y/N & #':'num_trusted_adults'})
df = df.rename(columns={'Personal Gang Involvement':'gang_y/n'})
df = df.rename(columns={'Gang Explanation':'gang_explanation'})
df = df.rename(columns={'Wrongly Accused of Gang Involvement Y/N':'gang_wronglyaccused_y/n'})
df = df.rename(columns={'Friends/Family Gang Involvement Y/N':'famfriends_gang_y/n'})
df = df.rename(columns={'Trusted Adults (list)':'trusted_adults'})
df = df.rename(columns={'Trusted Adults (other)':'trusted_adults_other'})


## columns rename from 32-50
df = df.rename(columns={
    '21' : 'clubs/sports_inscool',
    '21_text' : 'clubs/sports',
    '22' : 'two_parents_at_home',
    '22.1' : '22_yes_divorced/separate',
    '22_text' : '22_no_explain',
    '23' : 'lived_with_mental_unstable',
    '24' : 'lived_with_alcoholic',
    '25' : 'lived_with_drug_addict',
    '26' : 'live_with_servedtime_sentenced',
    '27' : 'adult_physically_hurt_you',
    '28' : 'adult_physically_hurt_eachother',
    '29' : 'removed_from_home',
    '29.1.1' : '29_age',
    '29.1.2' : '29_reason',
    '29.1.3' : '29_times_reoved_from_home',
    '29.1.4' : '29_how_long',
    '29.1.5' : '29_abused_in_foster',
    '29.1.6' : '29_neglected_in_foster',
    '29.1.7' : '29_residential_programs',
    '29.1.7_text' : '29_times_residential_programs',
    '30' : 'arrested_charged_atschool',
    '30_text' : '30_yes_explain',
    '31' : 'attend_college_univeristy',
    '31.1' : '31_yes_graduate'
    })

print(df.columns[21:56])

Index(['military_y/n', 'military_explanation', 'childhood_fun',
       'childhood_goodat', 'num_trusted_adults', 'gang_y/n',
       'gang_explanation', 'gang_wronglyaccused_y/n', 'famfriends_gang_y/n',
       'trusted_adults', 'trusted_adults_other', 'clubs/sports_inscool',
       'clubs/sports', 'two_parents_at_home', '22_yes_divorced/separate',
       '22_no_explain', 'lived_with_mental_unstable', 'lived_with_alcoholic',
       'lived_with_drug_addict', 'live_with_servedtime_sentenced',
       'adult_physically_hurt_you', 'adult_physically_hurt_eachother',
       'removed_from_home', '29_age', '29_reason', '29_times_reoved_from_home',
       '29_how_long', '29_abused_in_foster', '29_neglected_in_foster',
       '29_residential_programs', '29_times_residential_programs',
       'arrested_charged_atschool', '30_yes_explain',
       'attend_college_univeristy', '31_yes_graduate'],
      dtype='object')

In [5]:
df.iloc[:,21:55]

,military_y/n,military_explanation,childhood_fun,childhood_goodat,num_trusted_adults,gang_y/n,gang_explanation,gang_wronglyaccused_y/n,famfriends_gang_y/n,trusted_adults,...,29_reason,29_times_reoved_from_home,29_how_long,29_abused_in_foster,29_neglected_in_foster,29_residential_programs,29_times_residential_programs,arrested_charged_atschool,30_yes_explain,attend_college_univeristy
0,0.0,Not Answered,"movies, reading, writing, hanging with friends","school, making friends, making people laugh","grandparents, mom and dad even though addicts,...",0.0,Not Answered,No,No,No,...,Neglect,lost count,A month,Yes - emotionally,Yes,Yes,residential,No,nan,Yes
1,0.0,Not Answered,"bowling, softball, basketball, art, getting high","softball, basketball, school, writing, math, art","4 paternal grandparents, maternal grandmother,...",0.0,Not Answered,No,Yes,No,...,Neglect,3,Not Answered,No,No,No,Not Answered,No,nan,No
2,0.0,Not Answered,"hang out with my friends, dancing, shopping, p...",good at singing,yes. 1,0.0,Not Answered,No,No,No,...,Not Answered,Not Answered,Not Answered,Not Answered,Not Answered,Not Answered,Not Answered,No,nan,Yes
3,0.0,Not Answered,I liked to go camping up in New Hampshire with...,I was good at school as a child until I went t...,my grandparents and my parents and my older co...,0.0,Not Answered,No,No,No,...,Not Answered,Not Answered,Not Answered,Not Answered,Not Answered,Not Answered,Not Answered,No,nan,No
4,0.0,Not Answered,"video games, Zelda, Final Fantasy",video games,1-3,0.0,Not Answered,Yes,No,Yes,...,Not Answered,Not Answered,Not Answered,Not Answered,Not Answered,Not Answered,Not Answered,No,nan,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,0.0,Not Answered,Model of cars and airplanes,I was good at learning,Yes - 3,0.0,Not Answered,Yes,No,Yes,...,Not Answered,Not Answered,Not Answered,Not Answered,Not Answered,Not Answered,Not Answered,nan,nan,Yes
261,0.0,Not Answered,"play sports, camp, hike, fish, art & crafts",sports,No,0.0,Not Answered,No,No,No,...,Not Answered,Not Answered,Not Answered,Not Answered,Not Answered,Not Answered,Two,No,nan,No
262,0.0,Not Answered,"Ride bike. Camping, riding horses. Beach/swimm...","Dancing, horse riding. School. Babysitting. Go...","My aunt Nancy, sometimes my mom. My mom had/ha...",0.0,Not Answered,No,No,No,...,Not Answered,Not Answered,Not Answered,Not Answered,Not Answered,No,Not Answered,No,nan,nan
263,0.0,Not Answered,"cooking, reading, music",cooking,2,0.0,Not Answered,No,No,No,...,Not Answered,Not Answered,Not Answered,No,No,No,Not Answered,No,nan,No
264,0.0,Not Answered,"Dance, cheer, lego, played at park rec, swim, ...",Que 14 all,3,NaN,Not Answered,Yes,Prefer not to answer,Yes,...,Not Answered,0,Not Answered,Not Answered,Not Answered,Not Answered,Not Answered,Yes,fighting,No